@media screen and (max-width: 479px){
    .wrapper {
        width: 200px;
    }

    .header {
        width: 200px;
        height: 220px;
    }
    
    .header-inner-box1 {
        float: none;
        border-right: 10px solid #fff;
        position: relative;
        left: 70px;
    }

    .left {
        float: none;
        width: 200px;
    }

    .right {
        float: none;
        width: 200px;
    }

    .right-inner1 {
        position: relative;
        left: 30px;
    }

    .right-inner2 {
        position: relative;
        left: 30px;
    }

    .right-inner3 {
        position: relative;
        left: 30px;
    }

    .footer {
        width: 200px;
    }
}

